.main-screen {
    p {
        margin-bottom:15px;
        font-size:16px;

    }
    .balance {
        font-size:20px;
        line-height:28px;
    }
    .nav-item  {
        margin-right:15px;
        a {
            box-shadow:none!important;
        }
    }
}
.table th, .table td {
    vertical-align: middle;
}
